/* =========================
   GLOBAL RESET
========================= */

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;

  background: #edf3f5;
  color: #32231b;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =========================
   ROOT
========================= */

#root {
  min-height: 100vh;
  width: 100%;
}

/* =========================
   BUTTONS
========================= */

button,
input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

/* =========================
   REMOVE DEFAULT VITE STYLES
========================= */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}